@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.clickable {
  cursor: pointer;
  user-select: none;
  transition:
    transform 0.2s ease,
    background-color 0.3s ease;
}

.clickable:hover {
  transform: scale(1.03); /* Slightly enlarge on hover */
}

.clickable:active {
  transform: scale(0.99); /* Shrinks when clicked */
}

.clickable.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none; /* No scaling for disabled */
  pointer-events: none; /* Prevents click events */
}

.hover_underline:hover {
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 5px;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-light-italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-regular-italic.otf')
    format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('/fonts/proxima-nova-condensed-bold-italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Apply globally */
* {
  font-family: 'Proxima Nova Condensed', sans-serif;
  letter-spacing: 2px;
  color: #252525;
}
